<div class="site-block-half d-block d-lg-flex site-block-video" data-aos="fade">
	<div
		class="image bg-image order-2"
	>
	<iframe width="560" height="315" src="https://www.youtube.com/watch?v=syn0HOVTTAQ&list=PLd9uIOdMD_UbngcE1iY3Q81JnUFV6H4qu" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>	
		<!-- <a
			href="https://www.youtube.com/watch?v=VlsnZj5Qu2c"
			class="play-button popup-vimeo"
			><span class="icon-play"></span
		></a> -->
	</div>
	<div class="text order-1">
		<h2 class="site-heading text-black mb-3">See Our <strong>Video</strong></h2>
		<p class="lead">
			We have 16 CNC machines and we exceed our customer's expectations with specialized technical solutions
		</p>
		<!-- <p>
			Dolores perferendis ipsam animi fuga, dolor pariatur aliquam esse. Modi
			maiores minus velit iste enim sunt iusto, dolore totam consequuntur
			incidunt illo voluptates vero quaerat excepturi. Iusto dolor, cum et.
		</p> -->
	</div>
</div>

<div class="promo py-5 bg-primary" data-aos="fade">
	<div class="container text-center">
		<h2 class="d-block mb-0 font-weight-light text-white">
			<a href="/contact" class="text-white d-block">Contact us for quotations</a>
		</h2>
	</div>
</div>
