<div class="site-block-half d-block d-lg-flex site-block-video" data-aos="fade">
	<div
		class="image bg-image order-2"
		style="background-image: url(images/hero_bg_1.jpg)"
	>
		<a
			href="https://vimeo.com/channels/staffpicks/93951774"
			class="play-button popup-vimeo"
			><span class="icon-play"></span
		></a>
	</div>
	<div class="text order-1">
		<h2 class="site-heading text-black mb-3">See Our <strong>Video</strong></h2>
		<p class="lead">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id cum vel, eius
			nulla inventore aperiam excepturi molestias incidunt, culpa alias
			repudiandae, a nobis libero vitae repellendus temporibus vero sit natus.
		</p>
		<p>
			Dolores perferendis ipsam animi fuga, dolor pariatur aliquam esse. Modi
			maiores minus velit iste enim sunt iusto, dolore totam consequuntur
			incidunt illo voluptates vero quaerat excepturi. Iusto dolor, cum et.
		</p>
	</div>
</div>

<div class="promo py-5 bg-primary" data-aos="fade">
	<div class="container text-center">
		<h2 class="d-block mb-0 font-weight-light text-white">
			<a href="/contact" class="text-white d-block">Contact us for quotations</a>
		</h2>
	</div>
</div>
