<div class="site-section">
	<div class="container">
		<div class="row">
			<div
				class="col-md-6 bg-image bg-sm-height mb-5 mb-md-0 order-md-2"
				style="background-image: url('images/img_1_colored.jpg')"
				data-aos="fade-up"
			></div>
			<div class="col-md-6 pr-md-5 order-md-1">
				<h2 class="display-3 line-height-xs text-black mb-4">
					Let's grow <strong>together</strong>
				</h2>
				<p class="mb-4">
					Magnam iure fugit recusandae nobis a amet, officiis laboriosam
					repudiandae? Quis nostrum numquam ducimus quo ab laboriosam qui
					expedita, cupiditate ex, sed dignissimos facere provident dolores,
					eius distinctio quas aliquid.
				</p>
				<ul class="site-block-check">
					<li>Magnam iure fugit recusandae</li>
					<li>Officiis laboriosam repudiandae</li>
					<li>Quis nostrum numquam</li>
				</ul>
				<p>
					<a href="#" class="btn btn-outline-primary btn-sm rounded-0 p-2 px-4"
						>Read More</a
					>
				</p>
			</div>
		</div>
	</div>
</div>
