<div class="site-section">
	<div class="container" id="precision">
		<div class="row">
			<div
				class="col-md-6 bg-image bg-sm-height mb-5 mb-md-0 order-md-2"
				style="background-image: url('images/homepage_about.jpg')"
				data-aos="fade-up"
			></div>
			<div class="col-md-6 pr-md-5 order-md-1">
				<h2 class="display-3 line-height-xs text-black mb-4">
					Let's grow <strong>together</strong>
				</h2>
				<p class="mb-4">
					Desert Engineering Group, Inc was founded in 1976 and is a full
					service machine shop and manufacturing facility that provides:
				</p>

				<ul class="site-block-check">
					<li>Quality workmanship</li>
					<li>Quick turnaround</li>
					<li>Top-notch customer service</li>
					<li>AS9100D Certified (Precision Manufacturing Only)</li>
				</ul>
				<p class="mb-4">
					We do all types of machining and assembly work as per our customer
					demands. Desert Engineering Group meets crucial industrial needs with:
				</p>
				<ul class="site-block-check">
					<li>Precision tooling</li>
					<li>Prompt Delivery</li>
					<li>Friendly customer service</li>
					<li>Competitive pricing</li>
				</ul>
				<p class="mb-4">
					Our success is based on meeting our customer's product requirements
					and exceed our customer's performance expectations.
				</p>
				<p class="mb-4">
					We have 16 CNC Machines and more than 100 other machines to perform
					almost any metal working job with the highest quality and attention to
					detail. Visit the Machines page to see a full list of our machines.
				</p>
				<p class="mb-4">
					From one off prototypes to full on production, we have the capability
					and experienced staff to meet your needs.
				</p>
				<p>
					<!-- <a href="#" class="btn btn-outline-primary btn-sm rounded-0 p-2 px-4"
						>Read More</a
					> -->
				</p>
			</div>
		</div>
	</div>
</div>
