<footer class="site-footer">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-8">
				<div class="row">
					<div class="col-md-4 col-sm-8 col-lg-4 mb-5 mb-lg-0">
						<h2 class="mb-0 site-logo">
							<img src="images/logo1.png" alt="desert Engineering group logo" />
							<!-- <a href="#">Industrie</a> -->
							<a href="/">Desert Engineering Group, Inc</a>
						</h2>
					</div>
					<div class="col-md-4 col-sm-8 col-lg-4 mb-5 mb-lg-0">
						<h3 class="footer-heading mb-4">Product Lines</h3>
						<ul class="list-unstyled">
							<li><a href="/#precision">Precision Manufacturing</a></li>
							<li><a href="https://greendpf.com/">GreenDPF</a></li>
							<li><a href="http://www.survey-marker.com/">Mark-It</a></li>
							<!-- <li><a href="#">Sustainability</a></li>
							<li><a href="#">News</a></li>
							<li><a href="#">Careers</a></li> -->
						</ul>
					</div>
					<div class="col-6 col-md-4 col-lg-4 mb-5 mb-lg-0">
						<h3 class="footer-heading mb-4">Quick Links</h3>
						<ul class="list-unstyled">
							<li><a href="/contact#aboutus">About</a></li>
							<li><a href="/#services">Services</a></li>
							<li><a href="/machines">Machines</a></li>
							<li><a href="/certifications">Certifications</a></li>
							<li><a href="/contact">Contact Us</a></li>
							<li><a href="/careers">Careers</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-8">
				<div class="row mb-5">
					<div class="col-md-12">
						<h3 class="footer-heading mb-4">Contact</h3>
					</div>
					<div class="col-md-8">
						<p>
							<b>Desert Engineering Group, Inc.</b><br />
							3162 East 46th Street,<br />
							Tucson Arizona 85713 <br/>
							Tel: (520) 882-7363 <br />
							Fax: (520) 623-6860
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row pt-5 mt-5 text-center">
			<div class="col-md-12">
				<p>
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					Copyright &copy;
					<script>
						document.write(new Date().getFullYear());
					</script>
					All Rights Reserved | Designed by
					<!-- <i class="icon-heart-o" aria-hidden="true"></i> by -->
					<a href="https://techpranee.com" target="_blank">Tech Pranee</a>
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
				</p>
			</div>
		</div>
	</div>
</footer>
