<!-- <div class="site-section">
	<div class="container">
		<div class="row mb-5 justify-content-center">
			<div class="col-12 text-center">
				<h2 class="font-weight-light text-black display-4">Our Specialty</h2>
			</div>
			<div class="col-md-7 text-center">
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum iusto
					eaque qui illo cumque officia nobis assumenda odit perferendis ipsam
					dolore.
				</p>
			</div>
		</div>
		<div class="row no-gutters align-items-stretch h-100">
			<div class="col-lg-6">
				<div class="row no-gutters align-items-stretch h-100 half-sm">
					<div
						class="col-md-6 bg-image bg-sm-height"
						style="background-image: url('images/img_4_colored.jpg')"
						data-aos="fade"
						data-aos-delay="0"
					></div>
					<div class="col-md-6 bg-light text">
						<div class="p-4">
							<h2 class="h5 mb-3 text-black line-height-sm">
								Automative Manufacturing
							</h2>
							<p>
								Lorem ipsum dolor sit amet consectetur adipisicing elit. In
								ipsum error perspiciatis odit ullam officia. Lorem ipsum dolor
								sit amet, consectetur adipisicing elit. Laudantium voluptatum
								vel natus, repellat at optio.
							</p>
							<p class="mb-0">
								<a href="#" class=""
									><small class="text-uppercase font-weight-bold text-black"
										>Read More</small
									></a
								>
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="row no-gutters align-items-stretch h-100 half-sm">
					<div
						class="col-md-6 bg-image order-md-2 order-lg-1 bg-sm-height"
						style="background-image: url('images/img_1_colored.jpg')"
						data-aos="fade"
						data-aos-delay="200"
					></div>
					<div class="col-md-6 bg-light text order-md-1 order-lg-2">
						<div class="p-4">
							<h2 class="h5 mb-3 text-black line-height-sm">
								Mechanical Engineering
							</h2>
							<p>
								Lorem ipsum dolor sit amet consectetur adipisicing elit. In
								ipsum error perspiciatis odit ullam officia. Lorem ipsum dolor
								sit amet, consectetur adipisicing elit. Aperiam, cupiditate
								officia recusandae velit sint totam.
							</p>
							<p class="mb-0">
								<a href="#" class=""
									><small class="text-uppercase font-weight-bold text-black"
										>Read More</small
									></a
								>
							</p>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-6">
				<div class="row no-gutters align-items-stretch h-100 half-sm">
					<div
						class="col-md-6 bg-image order-md-1 order-lg-2 bg-sm-height"
						style="background-image: url('images/img_2_colored.jpg')"
						data-aos="fade"
						data-aos-delay="300"
					></div>
					<div class="col-md-6 bg-light text order-md-2 order-lg-1">
						<div class="p-4">
							<h2 class="h5 mb-3 text-black line-height-sm">
								Oil &amp; Gas Energy
							</h2>
							<p>
								Lorem ipsum dolor sit amet consectetur adipisicing elit. In
								ipsum error perspiciatis odit ullam officia. Lorem ipsum dolor
								sit amet, consectetur adipisicing elit. Alias fugiat facilis
								quasi ratione ducimus ipsam!
							</p>
							<p class="mb-0">
								<a href="#" class=""
									><small class="text-uppercase font-weight-bold text-black"
										>Read More</small
									></a
								>
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="row no-gutters align-items-stretch h-100 half-sm">
					<div
						class="col-md-6 bg-image order-md-2 bg-sm-height"
						style="background-image: url('images/img_3_colored.jpg')"
						data-aos="fade"
						data-aos-delay="400"
					></div>
					<div class="col-md-6 bg-light text order-md-1">
						<div class="p-4">
							<h2 class="h5 mb-3 text-black line-height-sm">
								Industrial Construction
							</h2>
							<p>
								Lorem ipsum dolor sit amet consectetur adipisicing elit. In
								ipsum error perspiciatis odit ullam officia. Lorem ipsum dolor
								sit amet, consectetur adipisicing elit. Laudantium ullam est
								alias minus, expedita autem.
							</p>
							<p class="mb-0">
								<a href="#" class=""
									><small class="text-uppercase font-weight-bold text-black"
										>Read More</small
									></a
								>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> -->

<div class="site-section">
	<div class="container">
		<div class="row mb-5 justify-content-center">
			<div class="col-12 text-center">
				<h2 class="font-weight-light text-black display-4">Our Services</h2>
			</div>
			<div class="col-md-7 text-center">
				<p>
					The company has evolved into a leading manufacturing and supply source
					of high quality engineered products and solutions for:
				</p>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6 col-lg-4">
				<div class="site-block-feature-2 d-flex rounded mb-5">
					<div class="mr-3">
						<span class="icon flaticon-industry font-weight-light"></span>
					</div>
					<div class="text">
						<h3>Precision Manufacturing</h3>
						<p>
							Armed with 16 CNC machines, we can manufacture large quantities, with a quick turnaround.
						</p>
					</div>
				</div>
			</div>

			<div class="col-md-6 col-lg-4">
				<div class="site-block-feature-2 d-flex rounded mb-5">
					<div class="mr-3">
						<span class="icon flaticon-industrial-robot font-weight-light"></span>
					</div>
					<div class="text">
						<h3>In-house Part Inspection</h3>
						<p>
							We have 3 CMM's accurate to one ten-thousandth of an inch, ensuring your exact specifications are met.
						</p>
					</div>
				</div>
			</div>

			<div class="col-md-6 col-lg-4">
				<div class="site-block-feature-2 d-flex rounded mb-5">
					<div class="mr-3">
						<span class="icon flaticon-gears font-weight-light"></span>
					</div>
					<div class="text">
						<h3>In-house Part Assembly</h3>
						<p>
							From insects and pins to straps and safety wire, our experienced staff can assemble anything.
						</p>
					</div>
				</div>
			</div>

			<div class="col-md-6 col-lg-4">
				<div class="site-block-feature-2 d-flex rounded mb-5">
					<div class="mr-3">
						<span
							class="icon flaticon-excavator font-weight-light"
						></span>
					</div>
					<div class="text">
						<h3><a href="https://greendpf.com/" target="_blank"></a> GreenDPF, Diesel Particulate Filter Cleaning</h3>
						<p>
							Is your diesel exhaust system healthy? Our highly trained and certified staff can clean your DPF/DOC, getting you back on the road in no time.
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4">
				<div class="site-block-feature-2 d-flex rounded mb-5">
					<div class="mr-3">
						<span
							class="icon flaticon-planet-earth font-weight-light"
						></span>
					</div>
					<div class="text">
						<h3>Custom tooling, Forging & Stamping</h3>
						<p>
							With upwards of 40 presses, ranging from 1 ton to 400 tons, we can meet most stamping needs.</p>
					</div>
				</div>
			</div>

			<!-- <div class="col-md-6 col-lg-4">


				<div class="site-block-feature-2 d-flex rounded mb-5 ng">
					<h2 class="mb-0 site-logo">
						<img src="images/logo1.png" alt="desert Engineering group logo" />
						<a href="/"></a>Desert Engineering Group, Inc
					</h2>

				</div>
			</div> -->

			<div class="col-md-6 col-lg-4">
				<div class="site-block-feature-2 d-flex rounded mb-5">
					<div class="mr-3">
						<span class="icon flaticon-worker font-weight-light"></span>
					</div>
					<div class="text">
						<h3> <a href="http://www.survey-marker.com/" target="_blank"></a> Mark-it, Survey markers & monuments</h3>
						<p>
							Personalized Plastic, aluminium, brass, disk and tag survey markers and more! 
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
