<!DOCTYPE html>
<html lang="en">
	<%- include('partials/meta.ejs') %>
	<body>
		<div class="site-wrap">
			<%- include('partials/nav.ejs') %>
			<!--  -->

			<div
				class="site-blocks-cover inner-page overlay"
				style="background-image: url(images/hero_bg_2.jpg)"
				data-aos="fade"
				data-stellar-background-ratio="0.5"
			>
				<div class="container">
					<div class="row align-items-center justify-content-center">
						<div class="col-md-7 text-center">
							<h1 class="mb-5">Our <strong>Machines</strong></h1>
						</div>
					</div>
				</div>
			</div>

			<div class="site-section">
				<div class="container">
					<div class="row mb-5">
						<div class="col-12 mb-5 text-center">
							<h2 class="font-weight-light text-black display-4">
								CNC Machines
							</h2>
						</div>
						<div class="col-md-6 col-lg-4 mb-4">
							<div class="post-entry bg-white">
								<div class="image">
									<img
										src="images/machines/Doosan_750II.jpg"
										alt="Image"
										class="img-fluid img-changes"
									/>
								</div>
								<div class="text p-4 text-change">
									<h2 class="h5 text-black">
										<a href="#">DOOSAN DNM 750 II</a>
									</h2>
									<!-- <span class="text-uppercase date d-block mb-3"
										><small>By Colorlib &bullet; Sep 25, 2018</small></span
									> -->
									<!-- <p class="mb-0">Table Size: 60" X 30" With 4th Axis</p> -->
								</div>
							</div>
						</div>

						<div class="col-md-6 col-lg-4 mb-4">
							<div class="post-entry bg-white">
								<div class="image">
									<img
										src="images/machines/Doosan_5700.jpg"
										alt="Image"
										class="img-fluid img-changes"
									/>
								</div>
								<div class="text p-4 text-change">
									<h2 class="h5 text-black">
										<a href="#">DOOSAN DNM 5700</a>
									</h2>
									<!-- <p class="mb-0">6-1/2" Chuck</p> -->
								</div>
							</div>
						</div>

						<div class="col-md-6 col-lg-4 mb-4">
							<div class="post-entry bg-white">
								<div class="image">
									<img
										src="images/machines/Doosan_Puma_300.jpg"
										alt="Image"
										class="img-fluid img-changes"
									/>
								</div>
								<div class="text p-4 text-change">
									<h2 class="h5 text-black">
										<a href="#">DOOSAN PUMA 300</a>
									</h2>

									<!-- <p class="mb-0">
										12" Kitagawa Chuck, Maximum Turning Diameter 15.7", Maximum
										Turning Length 24.8".
									</p> -->
								</div>
							</div>
						</div>

						<div class="col-md-6 col-lg-4 mb-4">
							<div class="post-entry bg-white">
								<div class="image">
									<img
										src="images/machines/Doosan_4500.jpg"
										alt="Image"
										class="img-fluid img-changes"
									/>
								</div>
								<div class="text p-4 text-change">
									<h2 class="h5 text-black">
										<a href="#">DOOSAN DNM 4500</a>
									</h2>

									<!-- <p class="mb-0">Table Size: 20" X 16"</p> -->
								</div>
							</div>
						</div>

						<div class="col-md-6 col-lg-4 mb-4">
							<div class="post-entry bg-white">
								<div class="image">
									<img
										src="images/machines/Doosan_LYNX220LSY.jpg"
										alt="Image"
										class="img-fluid img-changes"
									/>
								</div>
								<div class="text p-4 text-change">
									<h2 class="h5 text-black">
										<a href="#">DOOSAN LYNX 220LSY</a>
									</h2>

									<!-- <p class="mb-0">Table Size: 20" X 16"</p> -->
								</div>
							</div>
						</div>

						<div class="col-md-6 col-lg-4 mb-4">
							<div class="post-entry bg-white">
								<div class="image">
									<img
										src="images/machines/HAAS_vf1.png"
										alt="Image"
										class="img-fluid img-changes"
									/>
								</div>
								<div class="text p-4 text-change">
									<h2 class="h5 text-black">
										<a href="#">HASS VF1</a>
									</h2>

									<!-- <p class="mb-0">Table Size: 30" X 16" With 4 Axis</p> -->
								</div>
							</div>
						</div>

						<div class="col-md-6 col-lg-4 mb-4">
							<div class="post-entry bg-white">
								<div class="image">
									<img
										src="images/machines/HASS_vf_2ss.png"
										alt="Image"
										class="img-fluid img-changes"
									/>
								</div>
								<div class="text p-4 text-change">
									<h2 class="h5 text-black">
										<a href="#">HASS VF 2ss</a>
									</h2>

									<!-- <p class="mb-0">Table Size: 20" X 16"</p> -->
								</div>
							</div>
						</div>

						<div class="col-md-6 col-lg-4 mb-4">
							<div class="post-entry bg-white">
								<div class="image">
									<img
										src="images/machines/HASS_vf4.png"
										alt="Image"
										class="img-fluid img-changes"
									/>
								</div>
								<div class="text p-4 text-change">
									<h2 class="h5 text-black">
										<a href="#">HASS VF 4</a>
									</h2>

									<!-- <p class="mb-0">Table Size: 30" X 16" With 4 Axis</p> -->
								</div>
							</div>
						</div>

						<div class="col-md-6 col-lg-4 mb-4">
							<div class="post-entry bg-white">
								<div class="image">
									<img
										src="images/machines/HASS_vf_4ss.png"
										alt="Image"
										class="img-fluid img-changes"
									/>
								</div>
								<div class="text p-4 text-change">
									<h2 class="h5 text-black">
										<a href="#">HAAS VF 4ss</a>
									</h2>

									<!-- <p class="mb-0">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit.
										Fugiat beatae doloremque, ex corrupti perspiciatis.
									</p> -->
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-4 mb-4">
							<div class="post-entry bg-white">
								<div class="image">
									<img
										src="images/machines/HAAS_Sl30.jpg"
										alt="Image"
										class="img-fluid img-changes"
									/>
								</div>
								<div class="text p-4 text-change">
									<h2 class="h5 text-black">
										<a href="#">HAAS SL 30</a>
									</h2>

									<!-- <p class="mb-0">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit.
										Fugiat beatae doloremque, ex corrupti perspiciatis.
									</p> -->
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-4 mb-4">
							<div class="post-entry bg-white">
								<div class="image">
									<img
										src="images/machines/Matsuura_ES_450H.jpg"
										alt="Image"
										class="img-fluid img-changes"
									/>
								</div>
								<div class="text p-4 text-change">
									<h2 class="h5 text-black">
										<a href="#"
											>MATSUURA ES-450H</a
										>
									</h2>

									<!-- <p class="mb-0">
										18" Kitagawa Chuck, Live Tooling Fx X-axis And Z-axis.
										Maximum Turning Diameter 22", Maximum Turning Length 38-1/2"
									</p> -->
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-4 mb-4">
							<div class="post-entry bg-white">
								<div class="image">
									<img
										src="images/machines/Matsuura_ES_450HII.jpg"
										alt="Image"
										class="img-fluid img-changes"
									/>
								</div>
								<div class="text p-4 text-change">
									<h2 class="h5 text-black">
										<a href="#">MATSUURA ES-450H II</a>
									</h2>

									<!-- <p class="mb-0">
										15" Kitagawa Chuck, Maximum Turning Diameter 14-1/2",
										Maximum Turning Length 34".
									</p> -->
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-4 mb-4">
							<div class="post-entry bg-white">
								<div class="image">
									<img
										src="images/machines/HARDINGE_CHNCIII.jpg"
										alt="Image"
										class="img-fluid img-changes"
									/>
								</div>
								<div class="text p-4 text-change">
									<h2 class="h5 text-black">
										<a href="#">HARDINGE CHNC III</a>
									</h2>

									<!-- <p class="mb-0">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit.
										Fugiat beatae doloremque, ex corrupti perspiciatis.
									</p> -->
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-4 mb-4">
							<div class="post-entry bg-white">
								<div class="image">
									<img
										src="images/machines/DAEWOO_PUMA_400M.jpg"
										alt="Image"
										class="img-fluid img-changes"
									/>
								</div>
								<div class="text p-4 text-change">
									<h2 class="h5 text-black">
										<a href="#"
											>DAEWOO PUMA 400M</a
										>
									</h2>

									<!-- <p class="mb-0">
										8" Kitagawa 3 Jaw Chuck, X-axis Milling Any Z-axis Milling
										Turning Diameter 13", Turning Length 20.9"
									</p> -->
								</div>
							</div>
						</div>
						<div class="col-12 mb-5 text-center">
							<h2 class="font-weight-light text-black display-4">
								Precision Measurement Machines
							</h2>
						</div>
						<div class="col-md-6 col-lg-4 mb-4">
							<div class="post-entry bg-white">
								<div class="image">
									<img
										src="images/machines/Global_Performance_Series.jpg"
										alt="Image"
										class="img-fluid img-changes"
									/>
								</div>
								<div class="text p-4 text-change">
									<h2 class="h5 text-black">
										<a href="#"
											>Global Performance 05.05.05 COORDINATE MEASURING MACHINE (CMM)</a
										>
									</h2>

									<!-- <p class="mb-0">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit.
										Fugiat beatae doloremque, ex corrupti perspiciatis.
									</p> -->
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-4 mb-4">
							<div class="post-entry bg-white">
								<div class="image">
									<img
										src="images/machines/Global_S_Series.jpg"
										alt="Image"
										class="img-fluid img-changes"
									/>
								</div>
								<div class="text p-4 text-change">
									<h2 class="h5 text-black">
										<a href="#"
											>Global S SERIES 05.07.05 COORDINATE MEASURING MACHINE (CMM)</a
										>
									</h2>

									<!-- <p class="mb-0">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit.
										Fugiat beatae doloremque, ex corrupti perspiciatis.
									</p> -->
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-4 mb-4">
							<div class="post-entry bg-white">
								<div class="image">
									<img
										src="images/machines/Brown_and_Sharpe.JPG"
										alt="Image"
										class="img-fluid img-changes"
									/>
								</div>
								<div class="text p-4 text-change">
									<h2 class="h5 text-black">
										<a href="#">BROWN AND SHARPE REFLEX 343 COORDINATE MEASURING MACHINE </a>
									</h2>

									<!-- <p class="mb-0">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit.
										Fugiat beatae doloremque, ex corrupti perspiciatis.
									</p> -->
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12 text-center">
							<div class="site-block-27">
								<ul>
									<li><a href="#">&lt;</a></li>
									<li class="active"><span>1</span></li>
									<li><a href="/machines1">2</a></li>
									<li><a href="#">&gt;</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>

			<%- include('partials/footer.ejs') %>
		</div>
		<%- include('partials/scripts.ejs') %>
	</body>
</html>
