<!DOCTYPE html>
<html lang="en">
	<%- include('partials/meta.ejs') %>
	<body>
		<div class="site-wrap">
			<%- include('partials/nav.ejs') %>
			<!--  -->
			<div
				class="site-blocks-cover inner-page overlay"
				style="background-image: url(images/purchaseorder.jpg)"
				data-aos="fade"
				data-stellar-background-ratio="0.5"
			>
				<div class="container">
					<div class="row align-items-center justify-content-center">
						<div class="col-md-7 text-center">
							<h1 class="mb-5">Purchase <strong>Order</strong></h1>
						</div>
					</div>
				</div>
			</div>
			<div class="site-section">
				<div class="container">
					<div class="row">
						<!-- <div
							class="col-md-6 bg-image bg-sm-height mb-5 mb-md-0 order-md-2"
							style="background-image: url('images/img_1_colored.jpg')"
							data-aos="fade-up"
						></div> -->
						<div class="col-md-12 pr-md-5 order-md-1">
							<h2 class="display-3 line-height-xs text-black mb-4 font-change">
								Purchase Order with Desert Engineering Group, Inc.
							</h2>
							<p class="mb-4">
								1. The minimum information required for receipt and acceptance of materials, details, components, or processes procured by Desert Engineering Group, Inc.:
							</p>
							<ul class="site-block-check">
								<li>Desert Engineering Group Purchase Order Number,</li>
								<li>Part Number, Dash Number, and Revision,</li>
								<li>Part Name or Description,</li>
                                <li>Process Name or Description,</li>
                                <li>Specification Number and Revision.</li>
                                <li>Lot Quantity (Processed/Ordered Quantity),</li>
                                <li>Quantity Accepted,</li>
                                <li>Date of Manufacture (Date Process was Performed),</li>
                                <li>Original Manufacturer’s Name and Address (Over-the-Counter items; Distributors).</li>
								<li>
                                    Original Manufacturer’s Lot Number, Control Number, Batch Number, or Job Number (Distributors).
								</li>
							</ul>
							<p class="mb-4">
                                2. A ‘Statement of Conformance’.  Where the supplier is not the original manufacturer of the product, a copy of the Certificate of Conformance from the original manufacturer will accompany the shipment. <br> <br>
 
                                3.  The Signature of the supplier’s authorized officer and title certifying the product or process was manufactured or performed IAW applicable specifications and that the supplier is aware of their contribution to product conformance, their contribution to product safety, and the requirements for ethical behavior. <br> <br>
                                 
                                4.  Right of access by Desert Engineering, its customers and regulatory agencies to the applicable areas of the supplier’s facilities, and at any level of the supplier’s supply chain, involved in performance of this order and to all applicable records applies to this Purchase Order. <br> <br>
                                 
                                5.  On discovery of non-conforming product prior to delivery to Desert Engineering Group, Inc., the supplier shall;
                                a.  Notify Desert Engineering Group, Inc. of such non-conforming product.
                                b.  Obtain Desert Engineering Group, Inc. approval for non-conforming product. <br> <br>
                                 
                                6.  In Accordance with AS 6174 Counterfeit Material; Assuring Acquisition of Authentic and Conforming Materiel, the Supplier shall maintain a method of commodity and item level traceability that ensures tracking of the supply chain back to the manufacturer of all Material(s) being delivered per this order. This traceability method shall clearly identify the name and location of all of the supply chain intermediaries from the manufacturer to the direct source of the material for the seller, and, shall include the manufacturer's commodity or item level identification for the item(s) such as date codes, lot codes, heat codes, serializations, unique item identifiers, or batch identifications. <br> <br>
                                 
                                7.  The Supplier shall maintain a method of commodity and item level traceability that ensures tracking of the supply chain back to the manufacturer of all Material being delivered per this order. This traceability method shall clearly identify the name and location of all of the supply chain intermediaries from the manufacturer to the direct source of the material for the seller and shall include the manufacturer's commodity or item level identification for the item(s) such as date codes, lot codes, heat codes, serializations, unique item identifiers, or batch identifications.
                                <p class="mb-4">
                                    8.  Compliance with DFARS 225.872 Preference for Domestic Specialty Metals applies to this Purchase Order.
                                </p>
                                <ul class="site-block-check">
                                    <li>Prohibition on acquisition of United States munitions list items from Communist Chinese military companies.</li>
                                </ul>
                                <p class="mb-4">
                                9.  Records associated with this Purchase Order shall be retained seven years. <br> <br>
                                 
                                10.  The requirements within the International Traffic in Arms Regulations "ITAR," 22 CFR 120-130 applies to this Purchase Order. <br> <br>
                                 
                                11.  The requirements within the Export Administration Regulations (EAR) apply to this Purchase Order.
<br/>
<br/>
								Rev E
                            </p>
							</p>
						</div>
						
					</div>
				</div>
			</div>
			<div class="py-2">
				<div class="container">
					<table class="tableizer-table">
						<thead><tr class="tableizer-firstrow"><th>Revision Date</th><th>Revision Letter</th><th>Description of the Revision</th></tr></thead><tbody>
						 <tr><td>03-Mar-2010</td><td>A</td><td>Removed Audit Checklists from procedures and created individual Audit Checklist forms.</td></tr>
						 <tr><td>25-Jan-2016</td><td>B</td><td>Added 11 Export Administration Regulations</td></tr>
						 <tr><td>18-Jan-2018</td><td>C</td><td>Added ethical behavior requirements</td></tr>
						 <tr><td>20-June-2018</td><td>D</td><td>Added prohibition from purchasing from Communist China.</td></tr>
						 <tr><td>29-Oct-2021</td><td>E</td><td>Corrected spelling - #6 "Material"</td></tr>
						</tbody></table>
				</div>

			</div>
			
            <div class="promo py-2 bg-primary" data-aos="fade">
                <div class="container text-center">
                    <h2 class="d-block mb-0 font-weight-light text-white">
                        <a href="/contact" class="text-white d-block">Contact us for quotations</a>
                    </h2>
                </div>
            </div>
			<%- include('partials/footer.ejs') %>
		</div>
		<%- include('partials/scripts.ejs') %>
	</body>
</html>

