/* About Page */
.font-change {
  font-size: 2rem !important;
  font-weight: 400 !important;
}

/* NavBar */
.site-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.site-logo img {
  height: 90px;
}
.site-logo a {
  font-size: 22px;
}

@media (max-width: 996px) {
  .site-logo a {
    font-size: 22px;
  }
}

@media (max-width: 600px) {
  .site-logo img {
    display: none;
  }
  .site-logo a {
    font-size: 20px;
  }
}

/* Machines Page */
.img-changes {
  width: 100%;
  height: 250px;
}
.img-fluid1 {
  margin: auto;
  max-width: 100%;
  width: auto;
  max-height: 100%;
}

@media (max-width: 766px) {
  .img-changes {
    width: 100%;
    height: 350px;
  }
}
.text-change {
  height: 200px;
}
.imgcont {
  height: 300px;
  text-align: center;
}
